/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

footer {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 4.5rem;
  width: 100%;
}
footer:hover {
  color: #0097d8;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  width: 10vw;
  height: 100%;
  padding-bottom: 20px;
}
main {
  flex: 1;
  background-image: url('/public/5191c9e8ebe3f1f9dadb4363471f4256.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50rem;
  width: 100%;
  color: #fff;
}
.create-note {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.create-note form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}
.note {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: inset --6px -4px 2px rgb(255, 255, 255, 0.03);
  border-radius: 15px;
  border: 1.5px solid rgb(255, 255, 255, 0.326);
  color: #fff;
  padding: 15px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  width: 20%;
  margin: 20px 10px;
}

.note_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.note_save {
  background: transparent;
  transition: 0.1s ease-in-out;
  border: 1.5px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 13px;
  padding: 4px 10px;
  cursor: pointer;
}
.note_save:hover {
  background: #fff;
  border: 1.5px solid #fff;

  color: blue;
}

.note-footer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.note-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 30px;
}
.note-body {
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.note-content {
 border-top: 2px solid #0097d8;
 padding-top: 12px;
  font-style: italic;
}
.list-empty{
  margin: 0 auto;
   font-weight: 700;
font-size: 30px;
}

